.NotFound__hero {
    width: 100%;
    height: 95vh;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NotFound_conf-logo {
    margin-bottom: 4rem;
}

.NotFound__buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}