.Badges__hero {
    width: 100%;
    height: 130px;
    padding: 4rem 0 0 0;
    background: url('../../assets/images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    margin-bottom: 1rem;
}

.Badges__hero>.Badges__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20pt;
    color: #fff;
    font-weight: bold;
}

.Movies__container {
    width: 100%;

    margin: 0 auto;
    padding: 0 1rem;
}

.Badges_conf-logo {
    margin-bottom: 2rem;
}

.Badges__buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}