.Badge__section-name-list {
    background: #ffffff;
    box-shadow: 04px8px0rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    border-radius: 8px8px8px8px;
    display: flex;
    padding: 1rem0;
    width: 100%;
}

.Badge__avatar-list {
    border-radius: 50%;
    margin-right: 1rem;
    width: 70px;
    height: 70px;
    display: flex;
    margin-left: 1rem;
}

.twitter__blue_font {
    color: #38a1f3;
}

.tw__logo {
    width: 25px;
    height: 25px;
}

.content_opinion {
    margin: 15px;
}