.Movie_content {
    background: #ffffff;
    box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.1);
    margin: 1rem;
    border-radius: 8px 8px 8px 8px;
    display: flex;
    padding: 1rem 1rem 0 1rem;
    width: 100%;
}

h4,
p {
    color: black;
}

.favorite {
    position: absolute;
    color: red;
    font-size: 25pt;
    top: -19px;
    right: -15px;
}

.row {
    margin-bottom: 12px;
}